<li class="nav-list-wrap">
	<span>资金系统</span>
	<ul>
		<li>
			充值系统 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			提现系统 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			提现审核 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			个人资金证明 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			充值渠道管理 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
	</ul>
</li>
<li class="nav-list-wrap">
	<span>运营维护分析</span>
	<ul>
		<li>
			会员管理 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			订单管理 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			资金 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
	</ul>
</li>