<li class="nav-list-wrap">
	<span>运营维护分析</span>
	<ul>
		<li>
			会员管理 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			订单管理 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			资金 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
	</ul>
</li>
<li class="nav-list-wrap">
	<span>内容管理</span>
	<ul>
		<li>
			新闻列表 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			活动信息 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			平台信息 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			消息模板 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
		<li>
			系统日志 <span class="glyphicon glyphicon-chevron-right"></span>
		</li>
	</ul>
</li>